<article class="centrado margen-abajo" id="histControls">
                	<div class="centrado menuSeleccion paddin-abajo" >
                		<label for="usrSelect"><i class="fa fa-user"></i> Usuario</label>
                		{selectUsers}	
                	</div>
                	<table class="centrado margen-abajo">
                		<thead>
                			<tr>
                				<th>Usuario</th>
                				<th>Archivo</th>
                				<th>Fecha</th>
                				<th>Accion</th>
                			</tr>
                		</thead>
                		<tbody id="tblCont">
                			{contTabla}
                		</tbody>
                	</table>
                </article>