<div style="margin-left: auto; margin-right: auto;text-align: center; ">
	<div style="margin-left:auto; margin-right:auto; text-align:center; background:#A2000F; width:80%; border-radius:0.5em; color:#FFF">
		<h2 style="padding-top:1.5em;padding-bottom:1em;">Hola {usrNombre}!</h2>
		<p style="font-size:larger;">Has sido registrado en 
			<a href="http://goldeneagle.blackoutsystems.com" target="_blank" style="color:#FFF;"><strong>GoldenEagle</strong></a>
		, el sitio de gestión del proyecto GoldenEagle<br><br>
		Tus datos de usuario son:</p>
		<ul style="list-style: none;">
			<li style="font-size: larger;">Usuario: <strong>{usrName}</strong></li>
			<li style="font-size: larger;">Password: <strong>{usrPass}</strong></li>
		</ul>
		<br>
		<p style="font-size: larger;">Cualquier duda o problema que se te presente, puedes contactarnos al correo soporte@blackoutsystems.com</p>
		<p>GoldenEagle Team</p>
	</div>
	<div>
		<p>Este mensaje fue enviado por israelg@blackoutsystems.com<br>Puedes contactarme para evitar recibir mas mesajes</p>
	</div>
</div>