<div style="margin-left: auto; margin-right: auto;text-align: center; ">
	<div style="margin-left:auto; margin-right:auto; text-align:center; background:#A2000F; width:80%; border-radius:0.5em; color:#FFF">
		<h2 style="padding-top:1.5em;padding-bottom:1em;">Hola {usrNombre}!</h2>
		<p style="font-size:larger;">Para cambiar el password de tu cuenta es necesario que des click en el siguiente link (tienes 24 horas para hacerlo)</p>
		<ul style="list-style: none;">
			<li style="font-size: larger;"><strong>{linkPass}</strong></li>
		</ul>
		<br>
		<p style="font-size: larger;">Cualquier duda o problema que se te presente, puedes contactarnos al correo soporte@blackoutsystems.com</p>
		<p>GoldenEagle Team</p>
	</div>
	<div>
		<p>Este mensaje fue enviado por israelg@blackoutsystems.com<br>Puedes contactarme para evitar recibir mas mesajes</p>
	</div>
</div>